/* Google Font Import Link */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

body {
  width: 100%;
  height: 100%;
  margin: 0;
  perspective: 900;
  overflow-y: scroll;
  background-color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

/* navbar */

html ::-webkit-scrollbar {
  width: 12px;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #8B00F5;
  border: 3px solid white;
}

html ::-webkit-scrollbar-track {
  background: white;
}

/* navbar off canvas */
.nav-off-canva {
  background-color: transparent !important;
  backdrop-filter: blur(5px);
}

.navbar-brand {
  color: rgb(139, 0, 245) !important;
  font-size: 30px;
  font-weight: bold !important;
}

.nav-off-canva .lupa-search {
  visibility: visible;
  transition: 0s linear;
}

input.barra-pesquisa {
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 14px;
  border: #8B00F5 1px solid;
  background-color: rgba(255, 255, 255, 0.178);
  width: 70%;
  height: 38px;
  transition: 0s linear;
  padding: 10px;
  color: #8B00F5;
}

input.barra-pesquisa::placeholder {
  color: #8B00F5;
}

input.barra-pesquisa:focus {
  border: 1px solid #FFFFFF !important;
  box-shadow: none;
  background-color: #9b18ff;
  color: white;
}

i.close-search.open-search {
  margin-right: -8%;
  visibility: hidden;
  transition: 0s linear;
}

.barra-pesquisa.open-search {
  visibility: hidden;
  transition: 0s linear;
}

.lupa-search.open-search {
  visibility: hidden;
  transition: 0s linear;
}

.navbar-toggler {
  outline: none !important;
  border: none !important;
}

.offcanvas {
  background-color: transparent !important;
  backdrop-filter: blur(8px);
  width: 300px !important;
}

.offcanvas-title {
  color: rgba(255, 255, 255, 0.664);
  font-size: 25px;
}

.offcanvas-body {
  overflow-y: unset !important;
}

div#offcanvasNavbar {
  backdrop-filter: none;
  border-left: 1px solid white;
  box-shadow: -1px 0px 30px 0px rgba(0, 0, 0, 0.491);
  background-image: linear-gradient(135deg, #c378fc 1%, rgb(139, 0, 245) 100%);
}

.offcanvas-backdrop.show {
  opacity: .0;
}

.offcanvas-backdrop {
  position: unset;
  backdrop-filter: blur(3px) !important;
}

.offcanvas-body a {
  color: white;
  font-size: 18px;
  transition: .3s ease;
}

.offcanvas-body a:hover {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

.navItemAtivo {
  margin-left: 10px;
  backdrop-filter: blur(3px) !important;
  width: 3000px;
}

.navLinkAtivo {
  margin-left: 10px;
  font-size: 22px;
  font-weight: bolder;
  color: white !important;
}

.nav-link {
  margin-bottom: 17px;
}

.nav-link i {
  margin-right: 10px;
}

.conteiner-profile {
  border: 1px solid white;
  border-radius: 15px;
  list-style-type: none;
  background-image: linear-gradient(135deg, rgba(139, 0, 245, 0.304) 1%, #c378fc76 100%);
}

.img-profile {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.img-profile img {
  margin-top: 3px;
  border-radius: 100%;
  width: 30px;
}

.img-profile h5 {
  font-size: 18px;
  margin-left: 10px;
}

.img-profile h6 {
  font-size: 12px;
  margin-top: -10px;
  margin-left: 40px;
}

.border-bottom {
  margin-left: -32px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* carrinho */

.cart-nav {
  font-size: 10px;
  content: '0';
  background-color: #e000ad;
  color: white;
  min-width: 15px;
  height: 15px;
  border-radius: 100%;
  position: absolute;
  top: 18px;
  /* right: 11.2%; */
  text-align: center;
  padding: 0 5px;
  line-height: 15px;
}


/* Tabs-card*/

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-size: 20px;
  font-weight: bold;
}

#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  color: #6109a4;
  font-size: 20px;
}

.topo-card {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.espaco-inf {
  padding-top: 20%;
}

.espaco {
  padding-top: 9%;
}

.descricao {
  padding-top: 5%;
  font-size: small;
}

.descricao2 {
  font-size: 16px;
}

.center-inf {
  text-align: center;
}

.color-red2 {
  color: rgb(238, 77, 77);
  font-weight: 700;
  font-size: 19px;
}

.del {
  font-weight: 500;
  font-size: 16px;
}

.desconto {
  font-size: 18px;
}

#tabs .nav-tabs {
  position: absolute;
}

.nav-tabs {
  width: 84%;
  text-align: center;
}

/* vídeo */
.video-anuncio {
  width: 100%;
  outline: none !important;
  border: #8B00F5 2px solid;
}

h3 {
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: -.02rem;
}

h2 {
  padding-top: 20%;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: -.02rem;
  color: #8B00F5;
}

.button {
  text-align: center;
  background: #8B00F5;
  outline: none;
  border: none;
  color: #fff;
  padding: 5px;
  border-radius: 2px;
  font-size: 18px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background: white;
  border: #8B00F5 solid 2px;
  color: #8B00F5;
}

.button2 {
  margin-top: 5%;
  text-align: center;
  background: #fff;
  border-color: #8B00F5;
  color: #8B00F5;
  padding: 13px;
  border-radius: 0;
  border-color: #8B00F5;
  font-size: 18px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button2:hover {
  background: #8B00F5;
  color: #fff;
}

.inf {
  font-size: 17px;
}

.inf:hover {
  color: rgb(86, 86, 82);
}

.left {
  padding-left: 5%;
}

.estilo {
  border-color: black;
  justify-content: center;
  font-size: 15px;
}


.card {
  border: none;
}

.star {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  margin-right: 10px;
  border-radius: 5px;

}

.time-text {
  font-size: 12px;
  color: #989898;
}

.dots {
  height: 7px;
  width: 7px;
  background-color: #eee;
  display: flex;
  border-radius: 50%;
  margin-left: 7px;
  margin-right: 7px;
}

.yellow {
  color: #ffab2e;
}

.content-text-1 {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffccfa;
  font-weight: 700;
}

.blue {
  color: #6ecce6;
}


.content-text-2 {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ccf1fa;
  font-weight: 700;
}

.dark-blue {
  color: #572ce8;
}

.content-text-3 {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #572ce86b;
  font-weight: 700;
}

.content-text-4 {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f3a7646b;
  font-weight: 700;
}

.content-text-5 {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #8ec7f96b;
  font-weight: 700;
}

.c-details span {
  font-weight: 300;
  font-size: 13px
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px
}

.imgCurso:hover {
  scale: 0.9;
}

.badge span {
  background-color: #ffecfc;
  width: 60px;
  height: 25px;
  padding-bottom: 3px;
  border-radius: 5px;
  display: flex;
  color: #f15dfe;
  justify-content: center;
  align-items: center
}

.text1 {
  font-size: 14px;
  font-weight: 600
}

.text2 {
  color: #a5aec0
}

.heading {
  font-size: 12.5px;
}

.size {
  font-size: 13px;
}

.efeito:hover {
  scale: 0.9;
}

.efeito {
  padding-left: 10%;
}

.social {
  text-align: center;
  font-size: 20pt;
}

/* chatbox */

#floating-button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #fff;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.plus {
  color: #8B00F5;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}

#container-floating {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 30px;
  right: 30px;
  z-index: 50px;
}

#container-floating:hover {
  height: 400px;
  width: 90px;
  padding: 30px;
}

#container-floating:hover .plus {
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards;
}

.edit {
  position: absolute;
  display: block;
  bottom: 0;
  top: -4px;
  left: 30%;
  display: block;
  right: 0;
  padding: 0;
  opacity: 0;
  margin: auto;
  line-height: 65px;
  transform: rotateZ(-70deg);
  transition: all 0.3s;
  animation: edit-out 0.3s;
}

#container-floating:hover .edit {
  animation: edit-in 0.2s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes edit-in {
  from {
    opacity: 0;
    transform: rotateZ(-70deg);
  }

  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

@keyframes edit-out {
  from {
    opacity: 1;
    transform: rotateZ(0deg);
  }

  to {
    opacity: 0;
    transform: rotateZ(-70deg);
  }
}

@keyframes plus-in {
  from {
    opacity: 1;
    transform: rotateZ(0deg);
  }

  to {
    opacity: 0;
    transform: rotateZ(180deg);
  }
}

@keyframes plus-out {
  from {
    opacity: 0;
    transform: rotateZ(180deg);
  }

  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

.nds {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform: scale(0);
  cursor: pointer;
}

.nd1 {
  background: #396aa5;
  right: 40px;
  bottom: 120px;
  animation-delay: 0.2s;
  animation: bounce-out-nds 0.3s linear;
  animation-fill-mode: forwards;
}

.nd3 {
  right: 40px;
  bottom: 180px;
  animation-delay: 0.15s;
  animation: bounce-out-nds 0.15s linear;
  animation-fill-mode: forwards;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #654bc5 100%);
}

.nd4 {
  background: #26e74a;
  right: 40px;
  bottom: 240px;
  animation-delay: 0.1s;
  animation: bounce-out-nds 0.1s linear;
  animation-fill-mode: forwards;
}

@keyframes bounce-nds {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounce-out-nds {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}

#container-floating:hover .nds {

  animation: bounce-nds 0.1s linear;
  animation-fill-mode: forwards;
}

#container-floating:hover .nd3 {
  animation-delay: 0.08s;
}

#container-floating:hover .nd4 {
  animation-delay: 0.15s;
}

#container-floating:hover .nd5 {
  animation-delay: 0.2s;
}

.letter {
  font-size: 23px;
  font-family: 'Roboto';
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  line-height: 40px;
}

.reminder {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  line-height: 40px;
}

.profile {
  border-radius: 50%;
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
}

/* rodapé */
footer {
  background-image: linear-gradient(135deg, #c378fc 1%, rgb(139, 0, 245) 100%);
  padding: 50px 8%;
  /*passar pras menninas*/
}

.logo-rodape a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 25px;
}

.logo-rodape p {
  color: #ffffffda;
  text-align: justify;
}

.s-1 ul li h5 {
  color: #c494fe;
}

.s-1 ul li {
  list-style-type: none;
  transition: all .2s ease;
}

.s-1 ul li:hover{
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

.s-1 ul li a {
  text-decoration: none;
  color: #ffffffda;
}

.subscribe h5 {
  color: #c494fe;
}

.subscribe input {
  background-color: transparent;
  border: #FFFFFF 1px solid;
  border-radius: 7px;
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  transition: ease .4s;
  font-family: 'Ubuntu', sans-serif;
  outline: none;
  padding: 10px;
  color: white;
}

.subscribe input:hover {
  background-color: #9b18ff;
}

.subscribe input::placeholder {
  color: white;
}

.subscribe input:focus {
  border: 1px solid #FFFFFF !important;
  box-shadow: none;
  background-color: #9b18ff;
  color: #FFFFFF;
  padding: 10px;
}

.subscribe button {
  background-color: #FFFFFF;
  border-radius: 7px;
  border: none;
  font-size: 18px;
  color: #8B00F5;
  width: 100%;
  height: 40px;
  transition: ease .5s;
  font-family: 'Ubuntu', sans-serif;
}

.subscribe button:hover {
  background-color: transparent;
  border: #FFFFFF 1px solid;
  color: #FFFFFF;
}

.Cr {
  display: flex !important;
  justify-content: space-between;
  padding-top: 20px;
}

.Cr p {
  color: #ffffff7e;
}

.Cr ul li a img {
  transition: ease .5s;
}

.Cr ul li a img:hover {
  width: 30px;
}



/* responsividade */

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 0;
  }

  .grupoTodo {
    padding-top: 7% !important;
  }
}