/* Google Font Import Link */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

html ::-webkit-scrollbar {
    width: 12px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #8B00F5;
    border: 3px solid white;
}

html ::-webkit-scrollbar-track {
    background: white;
}

/* navbar */
nav {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transition: all 0.4s ease;
}

nav.sticky {
    padding: 6px 20px;
    background-image: linear-gradient(135deg, rgb(139, 0, 245) 1%, #c378fc 100%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav .nav-content {
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    color: #8B00F5;
}

nav.sticky .logo a {
    color: #fff;
}

.nav-content .nav-links {
    display: flex;
}

.nav-content .nav-links li {
    list-style: none;
    margin: 0 8px;
}

nav.sticky .nav-links {
    margin-top: 10px;
}

.nav-links li a {
    position: relative;
    text-decoration: none;
    color: #8B00F5;
    font-size: 22px;
    font-weight: 500;
    padding: 10px 4px;
    transition: all 0.3s ease;
}

.nav-links li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 0%;
    background: #e000ad;
    border-radius: 12px;
    transition: all 0.4s ease;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links li a:hover:before {
    width: 100%;
}


nav.sticky .nav-links li a {
    color: #fff;
    transition: all 0.4s ease;
}

nav.sticky .nav-links li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 3;
    height: 3px;
    width: 0%;
    background: #FFFFFF;
    border-radius: 12px;
    transition: all 0.4s ease;
    width: 100%;
    bottom: -5px;
    opacity: 0;
}

nav.sticky .nav-links li a:hover:before {
    bottom: 0px;
    opacity: 1;
}



.home {
    height: 100vh;
    width: 100%;
    background: url("images/background.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.getStart {
    margin: 60px;
}

.getStart img {
    width: 100%;
    min-width: 120%;
    margin-top: 25%;
}

.getStart-txt {
    display: block !important;
    margin-top: 150px;
}

.getStart-txt h1 {
    color: #8B00F5;
}

.getStart-txt p {
    color: #4b0780;
    font-size: 20px;
}



.getStart-txt button {
    margin-top: 4%;
    display: block !important;
    background-image: linear-gradient(135deg, #8B00F5 10%, #e000ad 100%);
    border: none;
    border-radius: 10px;
    width: 45%;
    height: 40px;
    font-size: 18px;
    transition: all .5s;
}

.getStart-txt button:hover {
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #8B00F5, #e000ad) border-box;
    border-radius: 10px;
    border: 3px solid transparent;
    position: relative;
}

.getStart-txt button a{
    text-decoration: none;
    color: #FFFFFF;
}

.getStart-txt button:hover a{
    color: #4b0780;
}

/* vídeo */
.video-anuncio{
    width: 140%;
    margin: 1% 9% 13% -9%;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 1px #9000ff39 ;
    outline: none !important;
    border: #8B00F5 1px solid ;
}

.txt-vid{
    margin-top: -40%;
    margin-left: 66%;
}

@media (max-width: 768px) {
    .video-anuncio{
        margin-top: -20%;
        margin-left: 1%;
        max-width: 92%;
    }
    .txt-vid{
        margin: -5% 0 10% 0;
    }
}

/* banner */
.banner1 img{
    width: 100%;
    margin-bottom: 3%;
}

/* ideias da empresa */
.ideal-txt{
    color: #8B00F5;
    font-size: 35px;
}

h3.ideal-txt1{
    color: #7800d3 !important;
}

.ideal-txt2{
    color: #4b0780;
}

/* chamada pra se cadastrar */

.chamada1{
    margin: 4% 0;
    background-image: linear-gradient(135deg, #8B00F5 10%, #e000ad 100%);
    padding: 3%;
}

.chamada1 h1{
    color: white;
}

.chamada1 a button{
    margin: 1% 0;
    padding: 1%;
    background-color: white;
    color: #8B00F5;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    transition: ease .5s;
}

.chamada1 a button:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

/* depoimentos */

.testimonial{
    padding: 20px 0;
}
.testimonial .heading-text{
    width: 98%;
    margin: 0 auto;
}

.testimonial .heading-text h2{
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 46px;
    font-weight: 600;
    text-transform: capitalize;
    color: #8B00F5;
}
.testimonial .heading-text p{
    margin: 0 0 80px;
    font-size: 18px;
    line-height: 26px;
    color: #450874;
}
.testimonial .testimonial-bg{
    display: block;
    height: 500px;
    max-width: 100%;
    position: relative;
    background-image: url(../imagens/body.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
}
.testimonial .testimonial-indicators{
    padding: 0;
    margin: 0;
}
.testimonial .testimonial-indicators li{
    list-style-type: none;
    position: absolute;
    width: 60px;
    height: 60px;
    cursor: pointer;
    opacity: .5;
    text-align: center;
    color: #202020;
    border-radius: 50%;
    border: 5px solid #fff;
    overflow: hidden;
    box-shadow: 0px 7px 6px 0px rgb(0 15 44 / 19%), inset -1px 0px 27px 0px rgb(0 0 0 / 29%);
}
.testimonial .testimonial-indicators li:nth-child(1){
    bottom: 105px;
    right: 100px;
}
.testimonial .testimonial-indicators li:nth-child(2){
    bottom: 45px;
    left: 90px;
}
.testimonial .testimonial-indicators li:nth-child(3){
    bottom: 40%;
    right: 0;
}
.testimonial .testimonial-indicators li:nth-child(4){
    top: 90px;
    left: 100px;
}
.testimonial .testimonial-indicators li:nth-child(5){
    top: 35%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.testimonial .testimonial-indicators li:nth-child(6){
    right: 120px;
    top: -30px;
}
.testimonial .testimonial-indicators li.active{
    transform: scale(1.5);
    opacity: 1;
    transition: 0.2s;
}
.testimonial .box{
    padding: 50px 40px;
    margin-left: 20px;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 7px 24px 0 rgb(2 55 156 / 20%);
}
.testimonial .box .preview{
    display: none;
}
.testimonial .box .preview.active-preview{
    display: block;
    opacity: 1;
    animation-name: example;
    animation-duration: 2s;
}
@keyframes example{
    from{opacity: 0;}
    to{opacity: 1;}
}
.testimonial .box .preview .ti-quote-left{
    font-size: 30px;
    color: #8b00f555;
}
.testimonial .box .preview p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #767676;
}
.testimonial .box .preview .position-flex{
    display: flex;
    align-items: center;
}
.testimonial .box .preview .position-flex .img{
    height: 65px;
    width: 65px;
    border-radius: 100%;
    margin-right: 18px;
    overflow: hidden;
    border: 5px solid #fff;
    box-shadow: 0px 7px 6px 0px rgb(0 15 44 / 19%), inset -1px 0px 27px 0px rgb(0 0 0 / 29%);
}
.testimonial .box .preview .position-flex .content h2{
    font-size: 22px;
    font-weight: 700;
    color: #161616;
}
.testimonial .box .preview .position-flex .content h4{
    font-size: 16px;
    color: #444444;
}
.testimonial .testimonial-btn{
    margin: 50px 0 0 24px;
}
.testimonial .testimonial-btn button{
    font-size: 18px;
    color: #450874;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    border: none;
    outline: none;
    transition: all 0.5s linear;
    box-shadow: 0px 7px 7px 0px rgb(0 15 44 / 18%);
}
.testimonial .testimonial-btn i{
    font-weight: 600;
}
.testimonial .testimonial-btn button:hover{
    background: #450874;
    color: #fff;
}
.testimonial .testimonial-btn button:first-child{
    margin-right: 16px;
}

/* faq */

.faq{
    width: 100% !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
}

.faq-title{
    margin-bottom: 4%;
    color: #8B00F5;
}

.img-faq img{
    width: 75%;
    z-index: -1;
}

.accordion-button{
    color: #8B00F5 !important;
    font-size: 20px;
}

.accordion-button:not(.accordion){
    background-color: none !important;
    box-shadow: unset !important;
}


.accordion-item{
    border: none !important;
    border-bottom: 1px solid #8b00f53e !important;
}


@media (max-width: 768px){
    .faq .row{
        margin: 15% 0;
        display: block !important; 
    }

     .img-faq img{
        margin-bottom: 8% !important;
        width: 100% !important;
    }
}


#floating-button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #fff;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
  }
  
  .plus{
    color: #8B00F5;
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 55px;
    font-size: 38px;
    font-family: 'Roboto';
    font-weight: 300;
    animation: plus-out 0.3s;
    transition: all 0.3s;
  }
  
  #container-floating{
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 30px;
    z-index: 50px;
  }
  
  #container-floating:hover{
    height: 400px;
    width: 90px;
    padding: 30px;
  }
  
  #container-floating:hover .plus{
    animation: plus-in 0.15s linear;
    animation-fill-mode: forwards;
  }
  
  .edit{
    position: absolute;
    display: block;
    bottom: 0;
    top: -4px;
    left: 30%;
    display: block;
    right: 0;
    padding: 0;
    opacity: 0;
    margin: auto;
    line-height: 65px;
    transform: rotateZ(-70deg);
    transition: all 0.3s;
    animation: edit-out 0.3s;
  }
  
  #container-floating:hover .edit{
    animation: edit-in 0.2s;
     animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes edit-in{
      from {opacity: 0; transform: rotateZ(-70deg);}
      to {opacity: 1; transform: rotateZ(0deg);}
  }
  
  @keyframes edit-out{
      from {opacity: 1; transform: rotateZ(0deg);}
      to {opacity: 0; transform: rotateZ(-70deg);}
  }
  
  @keyframes plus-in{
      from {opacity: 1; transform: rotateZ(0deg);}
      to {opacity: 0; transform: rotateZ(180deg);}
  }
  
  @keyframes plus-out{
      from {opacity: 0; transform: rotateZ(180deg);}
      to {opacity: 1; transform: rotateZ(0deg);}
  }
  
  .nds{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    z-index: 300;
    transform:  scale(0);
    cursor: pointer;
  }
  
  .nd1{
    background: #396aa5;
    right: 40px;
    bottom: 120px;
    animation-delay: 0.2s;
      animation: bounce-out-nds 0.3s linear;
    animation-fill-mode:  forwards;
  }
  
  .nd3{
    right: 40px;
    bottom: 180px;
    animation-delay: 0.15s;
      animation: bounce-out-nds 0.15s linear;
    animation-fill-mode:  forwards;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#654bc5 100%); 
    }
  
  .nd4{
    background: #26e74a;
    right: 40px;
    bottom: 240px;
    animation-delay: 0.1s;
      animation: bounce-out-nds 0.1s linear;
    animation-fill-mode:  forwards;
  }
  
  @keyframes bounce-nds{
      from {opacity: 0;}
      to {opacity: 1; transform: scale(1);}
  }
  
  @keyframes bounce-out-nds{
      from {opacity: 1; transform: scale(1);}
      to {opacity: 0; transform: scale(0);}
  }
  
  #container-floating:hover .nds{
    
    animation: bounce-nds 0.1s linear;
    animation-fill-mode:  forwards;
  }
  
  #container-floating:hover .nd3{
    animation-delay: 0.08s;
  }
  #container-floating:hover .nd4{
    animation-delay: 0.15s;
  }
  #container-floating:hover .nd5{
    animation-delay: 0.2s;
  }
  
  .letter{
    font-size: 23px;
    font-family: 'Roboto';
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    line-height: 40px;
  }
  
  .reminder{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    line-height: 40px;
  }
  
  .profile{
    border-radius: 50%;
    width: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
  }
  

/* rodapé */
footer {
    background-image: linear-gradient(135deg, #c378fc 1%, rgb(139, 0, 245) 100%);
    padding: 50px 8%; /*passar pras menninas*/
}

.logo-rodape a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 25px;
}

.logo-rodape p {
    color: #ffffffda;
    text-align: justify;
}

.s-1 ul li h5 {
    color: #c494fe;
}

.s-1 ul li {
    list-style-type: none;
    transition: all .2s ease;
  }
  
  .s-1 ul li:hover{
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

.s-1 ul li a {
    text-decoration: none;
    color: #ffffffda;
}

.subscribe h5 {
    color: #c494fe;
}

.subscribe input {
    background-color: transparent;
    border: #FFFFFF 1px solid;
    border-radius: 7px;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    transition: ease .4s;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
    padding: 10px;
    color: white;
}

.subscribe input:hover {
    background-color: #9b18ff;
}

.subscribe input::placeholder{
    color: white;
  }


.subscribe input:focus {
    border: 1px solid #FFFFFF !important;
    box-shadow: none;
    background-color: #9b18ff;
    color: #FFFFFF;
    padding: 10px;
  }

.subscribe button {
    background-color: #FFFFFF;
    border-radius: 7px;
    border: none;
    font-size: 18px;
    color: #8B00F5;
    width: 100%;
    height: 40px;
    transition: ease .5s;
    font-family: 'Ubuntu', sans-serif;
}

.subscribe button:hover {
    background-color: transparent;
    border: #FFFFFF 1px solid;
    color: #FFFFFF;
}

.Cr {
    display: flex !important;
    justify-content: space-between;
    padding-top: 20px;
}

.Cr p {
    color: #ffffff7e;
}

.Cr ul li a img {
    transition: ease .5s;
}

.Cr ul li a img:hover {
    width: 30px;
}


